/* @import url('https://fonts.googleapis.com/css?family=Roboto');

.App {
	max-width: 1500px;
	margin: auto;
	padding-top: 77px;
	background: rgb(250, 250, 250, 1);
	font-family: 'Roboto', sans-serif;
} */
