@import url('https://fonts.googleapis.com/css?family=Lobster');

.searchBar-container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	z-index: 1;
	top: 0;
	position: fixed;
	background: white;
	border-bottom: 1px solid rgba(0, 0, 0, .0975);
	height: 77px;
}

.logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.fab {
	font-size: 35px;
	padding: 0 20px;
	border-right: 1px solid rgb(71, 71, 71);
	color: rgb(29, 29, 29);
}

.logo h2 {
	font-size: 23px;
	padding: 15px;
	color: rgb(29, 29, 29);
	font-family: 'Lobster', cursive;
}

.searchBar-container input {
	font-family: 'FontAwesome', 'Roboto', sans-serif;
	min-width: 125px;
	width: 215px;
	height: 24px;
	font-size: 14px;
	border-radius: 3px;
	border: 1px solid rgb(202, 202, 202);
	text-align: center;
	background: rgb(247, 247, 247);
}

.searchBar-container button {
	font-size: 16px;
	color: gray;
	background: none;
	border: none;
	cursor: pointer;
}

.icons {
	font-size: 20px;
	color: gray;
	display: flex;
	justify-content: space-evenly;
	width: 200px;
}
